#footer-nav {
    position: relative;
    top: 1rem;
    background-color: var(--dark-blue);
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10%;
}

.nav,
.social {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav p a { 
    color: var(--grayish-blue);
    cursor: pointer;
    transition: var(--normal);
}
.nav p a:hover {
    color: var(--soft-red);
}

@media (max-width: 500px) {
    #footer-nav,
    .nav {
        flex-direction: column;
        gap: 1rem;
    }
}
