nav {
    position: fixed;
    top: 0;
    z-index: 10;

    width: 100%;
    height: 100px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 10%;
    background-color: white;
}

.menu-button,
.mobile-nav { display: none; }
.desktop-nav {
    display: flex;
    align-items: center;
}

.desktop-nav li { padding: .5rem 1rem; }
.desktop-nav li:last-child {
    font-size: 1rem;
    font-weight: var(--weight-sm);
    margin-left: 1rem;
    padding: .8rem 2rem;
    background-color: var(--soft-red);
    outline: 2px solid var(--soft-red);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: var(--normal);
}
.desktop-nav li:last-child:hover {
    background-color: white;
    color: var(--soft-red);
}

.desktop-nav li a {
    color: var(--dark-blue);
    font-size: 1rem;
    font-weight: var(--weight-sm);
    cursor: pointer;
    transition: var(--normal);
}
.desktop-nav li:hover a { color: var(--soft-red); }

.mobile-nav {
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 9;

    width: 100%;
    display: none;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    padding: 0 2rem 2rem 2rem;
    background-color: var(--dark-blue);
    color: white;
    overflow: hidden;
    transition: all .5s ease-in-out;
}

.mobile-nav li {
    width: 100%;
    padding: calc(1rem + 5px) 0 .5rem 0;
    border-top: 1px solid var(--grayish-blue);

    display: grid;
    place-items: center;
}
.mobile-nav li:first-child { border: none; }
.mobile-nav li:last-child {
    border: 2px solid white;
    border-radius: 5px;
    padding: 1rem 2rem;
}

.mobile-nav li a { 
    color: white;
    font-size: var(--text);
    font-weight: var(--weight-sm);
    letter-spacing: 2px;
}

@media (min-width: 820px) { .mobile-nav { display: none; } }
@media (max-width: 819px) {
    .desktop-nav { display: none; }
    .mobile-nav { display: flex; }
    .menu-button { display: block; }
}