@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

:root {
    --soft-blue: #5368df;
    --soft-red: #fa5757;

    --grayish-blue: #9194a1;
    --dark-blue: #252b46;

    --text: 1.125rem;
    --weight-sm: 400;
    --weight-xt: 700;
    --weight-lg: 500;

    --normal: all .3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-size: var(--text);
    font-weight: var(--weight-sm);
    font-family: 'Rubik', sans-serif;
}

#root { width: 100%; }
a { text-decoration: none; }
li { list-style: none; }